# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
node_modules/
server/.env
/*.mp4
server/public/img/*.mp4
client/public/img/recording-1.mp4
client/public/img/recording-2.mp4
*.bkp
.$*
